.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: spinner infinite 20s linear;
  }
}

body {
  min-width: 320px;
  box-sizing: border-box;
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.6;
  background-color: #282c34;
  overflow-x: hidden;
  padding: 60px 120px;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import "./photo.css";
@import "./photo_wall_container.css";
@import "./library_container.css";
@import "./photo.css";
@import "./search_bar.css";
